{% extends "wizard_form.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Coach and Team Information</title>
    <link rel="stylesheet" href="{% static 'styles/mainStyle.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="container">
        <div class="Header">
            <img src="{% static 'images/OCPC.png' %}" alt="OCPC_logo" class="headerimg1">
            <span>Oman Collegiate Programming Contest</span>
            <img src="{% static 'images/OCD.png' %}" alt="OCD_logo" class="headerImg2">
        </div>
        <hr />
        <br /><br />
        <form method="post" enctype="multipart/form-data" action="{%url 'registration' %}">
            {% csrf_token %}
            {{ wizard.management_form }}
            <div class="user-details">
                <div class="subdetails">
                    <p class="subtitle"><span style="color:#C83762;"> Coach </span> Information</p>
                    <br /><br />
                    <div class="input-box">
                        <span class="details">Coach Name</span>
                        {{ wizard.form.name }}
                    </div>
                    <div class="input-box">
                        <span class="details">Gender</span>
                        {{ wizard.form.gender }}
                    </div>
                    <div class="input-box">
                        <span class="details">Official communication Mobile Number</span>
                        {{ wizard.form.official_phone_number }}
                    </div>
                    <div class="input-box">
                        <span class="details">Official communication email</span>
                        {{ wizard.form.email }}
                    </div>
                    <div class="input-box">
                        <span class="details">T-Shirt Size</span>
                        {{ wizard.form.tshirt_size }}
                    </div>
                </div>
                <div class="subdetails">
                    <p class="subtitle"><span style="color: #C83762;"> Team </span> Information</p>
                    <br /><br />
                    <div class="input-box">
                        <span class="details">Team Name</span>
                        {{ wizard.form.name }}
                    </div>
                    <div class="input-box">
                        <span class="details">University Name</span>
                        {{ wizard.form.university }}
                    </div>
                </div>
                <br/>
                <button type="submit" value="{{ wizard.steps.next }}">Next</button>
            </div>
        </form>
        <br />
        <hr />
        <br />
        <div class="footer">
            <span>Strategic partner</span>
            <img src="{% static 'images/CodeAcademyLogo.png' %}" alt="CodeAcademy_Logo">
        </div>
    </div>
</body>
</html>
{% endblock %}